extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Nullam condimentum metus at sem maximus, ac convallis neque mollis. Pellentesque consequat tristique augue sed euismod. Vestibulum id mauris nec magna lobortis lobortis id in ex. Vivamus lorem purus, imperdiet hendrerit vehicula a, sollicitudin in arcu. Aenean velit lectus, scelerisque non pellentesque eget, dignissim id tortor.

                p Aenean nec lectus erat. Morbi turpis sem, maximus nec consectetur vitae, semper vitae felis. Aenean vel venenatis lacus, at placerat quam. Vivamus cursus justo et faucibus condimentum. Ut varius consequat mi, non malesuada metus posuere a. 
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg" alt="imagen nosotros" class="img-fluid")

        include ./layout/bloque_viajes
    
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canadá
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2500 USD
    
    .container 
        h2.mt-5.text-center Testimonios

        include ./layout/bloque_testimonios